# Pandas Tutorial

* **Pandas** is specialized for data manipulation and analysis with labeled data. It offers high-level data structures like DataFrame, designed for tabular data with columns of potentially different data types. Pandas simplifies data cleaning, preparation, and analysis tasks, integrating well with other Python libraries for visualization and machine learning.

Pandas for flexible data handling, manipulation, and analysis with tabular data structures.

**Why to use Pandas and not Excel**
* using excel wont aloow us to use functions and machine learning technologies provided by python.
* the list tuple etc in python dont provide much functionality so you can analyse data, so external library is used. And as Pandas is open siurce hence it is used.
* As it is built on numpy, and numpy is fast so it also levrages task of data analysis.
* Huge data can't be loaded in excel sheet and also each cell have a limit for data which can be entered.

In [1]:
# importing pandas library
import pandas as pd
import numpy as np

In [11]:
from sklearn.datasets import fetch_california_housing

# Creating Pandas Series and DataFrame

**Pandas Data Structures**
* **DataFrame:-** tabular spreadsheet like structure,diffrent dtypes can be stored,2-D array,represent rows each of which cointain one or more multiple column.
* **Series:-** stores single row or column of data in dataFrame,1-D array with indexes,capable of holding any 1 dtype.

### Creating Pandas series

In [12]:
# Creating pandas series
ser = pd.Series(np.random.rand(7))
print(ser)
type(ser)

0    0.679687
1    0.535168
2    0.509343
3    0.894883
4    0.559798
5    0.448194
6    0.252741
dtype: float64

pandas.core.series.Series

### Creating Dataframe

In [13]:
# loading datset to create dataframe

In [14]:
house = fetch_california_housing()
print(f"Type = {type(house)}")

Type = <class 'sklearn.utils._bunch.Bunch'>

In [15]:
print(house)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]]), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [16]:
# making a dataframe
df = pd.DataFrame(house.data, columns =house.feature_names)

In [17]:
print(df.head(3))  # printing the datset

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85

   Longitude
0    -122.23
1    -122.22
2    -122.24

In [18]:
print(df.shape)

(20640, 8)

In [19]:
print(df.size)

165120

In [20]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [21]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [22]:
df.dtypes

MedInc        float64
HouseAge      float64
AveRooms      float64
AveBedrms     float64
Population    float64
AveOccup      float64
Latitude      float64
Longitude     float64
dtype: object

In [23]:
df.index

RangeIndex(start=0, stop=20640, step=1)

In [24]:
df.columns

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude'],
      dtype='object')

# Importing data from a CSV File

In [25]:
df1 = pd.read_csv("Employee_Sample_Data.csv", encoding="ISO-8859-1")

In [26]:
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [27]:
print(f"Size: {df1.size} \n")
print(f"Shape: {df1.shape}\n")
print(f"Head: {df1.head(5)}")

Size: 14000

Shape: (1000, 14)

Head:      EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity  Age   Hire Date Annual Salary  \
0  Research & Development  Female      Black   55    4/8/2016     $141,604
1           Manufacturing    Male      Asian   59  11/29/1997      $99,975
2     Speciality Products  Female  Caucasian   50  10/26/2006     $163,099
3           Manufacturing  Female  Caucasian   26   9/27/2019      $84,913
4           Manufacturing    Male      Asian   55  11/20/1995      $95,409

  Bonus %        Country       City   Exit Date
0    15%   United States    Seattle  10/16/2021
1     0%           China  Chongqing         NaN
2    20%   United States    Chicago         NaN
3     7%   United States    Chicago         NaN
4     0%   United States    Phoenix         NaN

***To upload a excel file to dataframe use the method:-***
 - df2 = pd.read_excel("file path")

# Exporting Dataframe to a CSV File

In [28]:
df.to_csv("house.csv")

***Exporting Dataframe to a Excel File:-***
- df.to_excel("file name")

# Creating dataframe with random values

In [29]:
exa = pd.DataFrame(np.random.rand(7,10))

In [30]:
print(f"Size: {exa.size} \n")
print(f"Shape: {exa.shape}\n")
print(f"Head: {exa.head(5)}\n")
print(type(exa))

Size: 70

Shape: (7, 10)

Head:           0         1         2         3         4         5         6  \
0  0.301940  0.625832  0.022198  0.448423  0.618155  0.967162  0.558697
1  0.690828  0.341005  0.946913  0.745508  0.917080  0.854695  0.518261
2  0.345366  0.362038  0.267767  0.961451  0.006086  0.116984  0.596180
3  0.827368  0.501688  0.334005  0.599991  0.859271  0.722251  0.586115
4  0.653717  0.919357  0.582266  0.494642  0.960474  0.571428  0.811443

          7         8         9
0  0.294026  0.994228  0.656725
1  0.360087  0.407029  0.203389
2  0.593887  0.309937  0.147398
3  0.698134  0.397223  0.647229
4  0.980180  0.529988  0.346110

<class 'pandas.core.frame.DataFrame'>

# Inspecting a dataframe

In [31]:
exa2 = pd.DataFrame(np.random.rand(4,5))
print(f"Size: {exa2.size} \n")
print(f"Shape: {exa2.shape}\n")
print(f"Head:\n {exa2.head(5)}\n")
print(f"Tail:\n {exa2.tail(2)}\n")
print(f"Type:- {type(exa2)}")

Size: 20

Shape: (4, 5)

Head:
           0         1         2         3         4
0  0.466143  0.175473  0.688878  0.533775  0.791782
1  0.416860  0.656924  0.682014  0.264768  0.541568
2  0.481915  0.755184  0.848820  0.532503  0.906138
3  0.789162  0.237942  0.721825  0.297312  0.769908

Tail:
           0         1         2         3         4
2  0.481915  0.755184  0.848820  0.532503  0.906138
3  0.789162  0.237942  0.721825  0.297312  0.769908

Type:- <class 'pandas.core.frame.DataFrame'>

In [32]:
#  working on df dataframe to understand better

In [33]:
print(df.info()) # gives all info about the df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB
None

In [34]:
print(df.isnull().sum())  # tell the sum of number of null values

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [35]:
# counting number of specific values based on labels
df.value_counts("Population")

Population
891.0      25
1052.0     24
1227.0     24
850.0      24
761.0      24
           ..
21.0        1
22.0        1
11139.0     1
9623.0      1
9509.0      1
Name: count, Length: 3888, dtype: int64

In [36]:
#  this means that there are 25 instances of 891.0 and 24 of 1052.0 and so on
# till last i.e 1 instance of 9509.0 
# labels is nothing but the outcomes

In [37]:
#  grouping the values based on their means
df.groupby("Population").mean()

,MedInc,HouseAge,AveRooms,AveBedrms,AveOccup,Latitude,Longitude
Population,,,,,,,
3.0,0.53600,16.00,4.500000,1.500000,0.750000,34.0400,-118.4400
5.0,0.53600,26.00,6.000000,1.000000,1.666667,33.6200,-114.6200
6.0,2.37500,4.00,1.000000,1.000000,3.000000,35.2100,-117.7900
8.0,2.03125,20.75,3.958333,0.958333,2.500000,34.7825,-118.4725
9.0,1.08050,15.00,9.800000,2.066667,2.400000,35.9450,-118.8050
...,...,...,...,...,...,...,...
15507.0,6.01910,8.00,6.347327,1.047525,3.070693,34.0300,-117.7800
16122.0,7.49470,4.00,7.311043,1.054346,3.106957,33.8900,-117.7400
16305.0,4.95160,3.00,7.338559,1.159015,3.043113,38.4300,-121.4400
28566.0,2.30870,11.00,5.364518,1.059684,4.696810,36.6400,-121.7900
35682.0,2.57290,14.00,5.270497,1.010484,7.482072,33.3500,-117.4200

In [38]:
# for all the 3 person poluplation the avgerage
# MedInc	= 0.53600
# HouseAge = 16.00		
# AveRooms = 4.500000	
# AveBedrms = 1.500000		
# AveOccup = 0.750000	
# Latitude = 34.0400	
# Longitude = -118.4400
# and so on

 ***Some other methods***:-
- *df.dropna()*:- Drop rows with at least one NaN value (default behavior: how='any')
- *df.dropna(how='all')*:-Drop rows only if all columns are NaN (how='all')
- *df.drop_duplicates(subset=['names'])*:- Drop duplicate rows based on the 'names' column. By default, it keeps the first occurrence and removes the rest.
- *df.drop_duplicates(subset=['names'], keep='last')*:- Drop duplicate rows based on the 'names' column, Keeps the last occurrence instead of the first
- *df.drop_duplicates(subset=['names'], keep=False)*:- Drop all rows that have duplicate values in the 'names' column. Keeps no duplicates at all
- *df['city'].value_counts(dropna=False)*:- Get count of each unique value in the 'city' column.Includes NaN values in the count
- *df.notnull()*:- Returns a DataFrame indicating True for non-null (not NaN) values
- *df.isnull()*:- Returns a DataFrame indicating True for null (NaN) values

### Statistical Measures on Data

In [39]:
# number of counts in each column
df.count()

MedInc        20640
HouseAge      20640
AveRooms      20640
AveBedrms     20640
Population    20640
AveOccup      20640
Latitude      20640
Longitude     20640
dtype: int64

In [40]:
# mean - column wise
df.mean()

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

In [42]:
# standard deviation - column wise
df.std()

MedInc           1.899822
HouseAge        12.585558
AveRooms         2.474173
AveBedrms        0.473911
Population    1132.462122
AveOccup        10.386050
Latitude         2.135952
Longitude        2.003532
dtype: float64

In [42]:
# median value - column wise
df.median()

MedInc           3.534800
HouseAge        29.000000
AveRooms         5.229129
AveBedrms        1.048780
Population    1166.000000
AveOccup         2.818116
Latitude        34.260000
Longitude     -118.490000
dtype: float64

In [43]:
# minimum value - column wise
df.min()

MedInc          0.499900
HouseAge        1.000000
AveRooms        0.846154
AveBedrms       0.333333
Population      3.000000
AveOccup        0.692308
Latitude       32.540000
Longitude    -124.350000
dtype: float64

In [44]:
# max value - column wise
df.max()

MedInc           15.000100
HouseAge         52.000000
AveRooms        141.909091
AveBedrms        34.066667
Population    35682.000000
AveOccup       1243.333333
Latitude         41.950000
Longitude      -114.310000
dtype: float64

In [45]:
# or we can get all statistical measures of the data in one go.
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [46]:
# 25% = lower quartile (25% of values are below this), 50% = median 
# (middle value), 75% = upper quartile (75% of values are below this)

# Manipulating a datframe

In [2]:
# adding a column to dataframe
adf = pd.DataFrame(np.random.rand(4,3))
print(adf)

          0         1         2
0  0.796698  0.594083  0.823010
1  0.758063  0.932249  0.788491
2  0.660017  0.609997  0.663609
3  0.268068  0.400886  0.974631

In [13]:
# the code of line in next cell will alter the original df in place

In [3]:
col3 = [1,2,3,4]
adf["NEW"] = col3 # remember number of rows need to be same
adf.head()

          0         1         2  NEW
0  0.796698  0.594083  0.823010    1
1  0.758063  0.932249  0.788491    2
2  0.660017  0.609997  0.663609    3
3  0.268068  0.400886  0.974631    4

In [10]:
# drop will not alter original df if you want to have the new df to be saved
# you need to assign it to a new variable or user inplace

In [4]:
# removing a particular row
adf.drop(index= 1, axis = 0)

          0         1         2  NEW
0  0.796698  0.594083  0.823010    1
2  0.660017  0.609997  0.663609    3
3  0.268068  0.400886  0.974631    4

In [7]:
# removing or drop a column
adf.drop(columns = 1, axis = 1)

          0         2  NEW
0  0.796698  0.823010    1
1  0.758063  0.788491    2
2  0.660017  0.663609    3
3  0.268068  0.974631    4

- .iloc[], which stands for integer-location based indexing in pandas.
- It allows you to access rows and columns by position, not labels.

In [8]:
# locating a row using index value
adf.iloc[2]  # iloc is used to locate a particular row or column

0      0.660017
1      0.609997
2      0.663609
NEW    3.000000
Name: 2, dtype: float64

In [12]:
# locating a specific column
print(adf.iloc[:,0])  #prints 1 column
print(adf.iloc[:,1])  #prints 2 column
print(adf.iloc[:,-1])  #prints last column
# .iloc[<row_selection>, <column_selection>]
# : â†’ selects all rows , 0 â†’ selects the first column

0    0.796698
1    0.758063
2    0.660017
3    0.268068
Name: 0, dtype: float64
0    0.594083
1    0.932249
2    0.609997
3    0.400886
Name: 1, dtype: float64
0    1
1    2
2    3
3    4
Name: NEW, dtype: int64

### Correlation
- Positive Correlation (directly proportional)
- Negative Correlation (inversely proportional)
- the columns are nothing but variable
- correlations find how one variable affects the other

In [14]:
adf.corr()

            0         1         2       NEW
0    1.000000  0.720529 -0.693791 -0.898207
1    0.720529  1.000000 -0.494409 -0.528736
2   -0.693791 -0.494409  1.000000  0.332847
NEW -0.898207 -0.528736  0.332847  1.000000

In [15]:
# the values with - sign means a negative correlation and others are + correlation

 # Pandas Df to Numpy arrays

In [4]:
newdf = pd.DataFrame(np.random.rand(125,5), index= np.arange(125))

In [5]:
type(newdf)

pandas.core.frame.DataFrame

In [8]:
new1 = newdf.to_numpy()

In [9]:
type(new1)

numpy.ndarray

# Copy and View

* **View** is nothing but a pointer to the array (like here ex 2 ia a pointer to ex 1) any changes in ex2 will be reflected in ex1.
* **Copy** makes acopy of the array(here ex2 is a seprate array and a copy of ex1) any changes of ex2 will not be reflected in ex1.
* 2 ways to make a copy ex2 = ex1.copy() , 
                        ex2 = ex1[:]

In [2]:
ex1 = pd.DataFrame(np.random.rand(12,4),index = np.arange(12))
print(ex1)

           0         1         2         3
0   0.990064  0.235488  0.927986  0.400230
1   0.146168  0.615573  0.147353  0.319239
2   0.278174  0.242746  0.363816  0.221228
3   0.281568  0.467717  0.906010  0.106637
4   0.083622  0.561195  0.437458  0.002727
5   0.627565  0.706570  0.248416  0.250033
6   0.258899  0.608505  0.738766  0.230429
7   0.969575  0.088379  0.878639  0.592613
8   0.158716  0.224525  0.435696  0.026124
9   0.003136  0.760795  0.878954  0.505242
10  0.516745  0.911464  0.401423  0.756066
11  0.794051  0.100174  0.017438  0.112737

### Creating view

In [4]:
ex2 = ex1  # ex2 is view of ex1
print(ex2)

           0         1         2         3
0   0.990064  0.235488  0.927986  0.400230
1   0.146168  0.615573  0.147353  0.319239
2   0.278174  0.242746  0.363816  0.221228
3   0.281568  0.467717  0.906010  0.106637
4   0.083622  0.561195  0.437458  0.002727
5   0.627565  0.706570  0.248416  0.250033
6   0.258899  0.608505  0.738766  0.230429
7   0.969575  0.088379  0.878639  0.592613
8   0.158716  0.224525  0.435696  0.026124
9   0.003136  0.760795  0.878954  0.505242
10  0.516745  0.911464  0.401423  0.756066
11  0.794051  0.100174  0.017438  0.112737

In [5]:
ex2[0][0]= 12  #changing a element
print(ex1) 
# the change done in ex2 is also reflected in ex1

            0         1         2         3
0   12.000000  0.235488  0.927986  0.400230
1    0.146168  0.615573  0.147353  0.319239
2    0.278174  0.242746  0.363816  0.221228
3    0.281568  0.467717  0.906010  0.106637
4    0.083622  0.561195  0.437458  0.002727
5    0.627565  0.706570  0.248416  0.250033
6    0.258899  0.608505  0.738766  0.230429
7    0.969575  0.088379  0.878639  0.592613
8    0.158716  0.224525  0.435696  0.026124
9    0.003136  0.760795  0.878954  0.505242
10   0.516745  0.911464  0.401423  0.756066
11   0.794051  0.100174  0.017438  0.112737

C:\Users\Toshaksha\AppData\Local\Temp\ipykernel_27256\2196575492.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  ex2[0][0]= 12  #changing a element

### Creating copy

In [6]:
new = pd.DataFrame(np.random.rand(20,4), index = np.arange(20))
print(new)

           0         1         2         3
0   0.416390  0.201257  0.691637  0.754823
1   0.470099  0.058370  0.666312  0.270625
2   0.714119  0.335996  0.225020  0.623638
3   0.313191  0.581529  0.843353  0.636329
4   0.059376  0.699456  0.036709  0.389433
5   0.736786  0.744943  0.570702  0.999175
6   0.840847  0.120717  0.643096  0.260928
7   0.493006  0.567909  0.889273  0.649149
8   0.223472  0.409996  0.493387  0.870005
9   0.165962  0.250480  0.464207  0.861348
10  0.021334  0.858756  0.933440  0.344122
11  0.674906  0.311731  0.304295  0.010971
12  0.567743  0.101840  0.845281  0.491708
13  0.018818  0.077684  0.648507  0.458923
14  0.564539  0.038239  0.157934  0.584277
15  0.101656  0.368988  0.341496  0.089118
16  0.511402  0.376225  0.213011  0.032343
17  0.057958  0.722585  0.098066  0.354054
18  0.082700  0.186969  0.365167  0.796328
19  0.565790  0.280597  0.561820  0.286061

In [7]:
new2 = new.copy()
new2[0][0] = 34
print(new2)  # changes are reflected in this df

            0         1         2         3
0   34.000000  0.201257  0.691637  0.754823
1    0.470099  0.058370  0.666312  0.270625
2    0.714119  0.335996  0.225020  0.623638
3    0.313191  0.581529  0.843353  0.636329
4    0.059376  0.699456  0.036709  0.389433
5    0.736786  0.744943  0.570702  0.999175
6    0.840847  0.120717  0.643096  0.260928
7    0.493006  0.567909  0.889273  0.649149
8    0.223472  0.409996  0.493387  0.870005
9    0.165962  0.250480  0.464207  0.861348
10   0.021334  0.858756  0.933440  0.344122
11   0.674906  0.311731  0.304295  0.010971
12   0.567743  0.101840  0.845281  0.491708
13   0.018818  0.077684  0.648507  0.458923
14   0.564539  0.038239  0.157934  0.584277
15   0.101656  0.368988  0.341496  0.089118
16   0.511402  0.376225  0.213011  0.032343
17   0.057958  0.722585  0.098066  0.354054
18   0.082700  0.186969  0.365167  0.796328
19   0.565790  0.280597  0.561820  0.286061

C:\Users\Toshaksha\AppData\Local\Temp\ipykernel_27256\2339260525.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  new2[0][0] = 34

In [8]:
# but not reflected in new as new2 is copy of it not view
print(new)

           0         1         2         3
0   0.416390  0.201257  0.691637  0.754823
1   0.470099  0.058370  0.666312  0.270625
2   0.714119  0.335996  0.225020  0.623638
3   0.313191  0.581529  0.843353  0.636329
4   0.059376  0.699456  0.036709  0.389433
5   0.736786  0.744943  0.570702  0.999175
6   0.840847  0.120717  0.643096  0.260928
7   0.493006  0.567909  0.889273  0.649149
8   0.223472  0.409996  0.493387  0.870005
9   0.165962  0.250480  0.464207  0.861348
10  0.021334  0.858756  0.933440  0.344122
11  0.674906  0.311731  0.304295  0.010971
12  0.567743  0.101840  0.845281  0.491708
13  0.018818  0.077684  0.648507  0.458923
14  0.564539  0.038239  0.157934  0.584277
15  0.101656  0.368988  0.341496  0.089118
16  0.511402  0.376225  0.213011  0.032343
17  0.057958  0.722585  0.098066  0.354054
18  0.082700  0.186969  0.365167  0.796328
19  0.565790  0.280597  0.561820  0.286061

# .loc[] vs .iloc[]

### .loc[] â†’ Label-based indexing
- Access rows and columns by name/label
- Includes both start and end in slicing

### .iloc[] â†’ Index-based (integer position) indexing
- Access rows and columns by position (0-based index)
- End is exclusive in slicing (like Python list slicing)

In [9]:
# Sample DataFrame
data = {
    'A': [10, 20, 30, 40, 50],
    'B': [5, 15, 25, 35, 45],
    'C': [100, 200, 300, 400, 500]
}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])
print("Original DataFrame:\n", df)

# .loc[] â€” label-based indexing

# Get a single value by row and column labels
print("\n.loc['b', 'B'] â†’", df.loc['b', 'B'])

# Get entire row by label
print("\n.loc['c'] â†’\n", df.loc['c'])

# Get multiple rows and columns
print("\n.loc[['a', 'c'], ['A', 'C']] â†’\n", df.loc[['a', 'c'], ['A', 'C']])

# Slice rows (inclusive)
print("\n.loc['b':'d'] â†’\n", df.loc['b':'d'])

# Conditional filtering
print("\n.loc[df['A'] > 25] â†’\n", df.loc[df['A'] > 25])

# .iloc[] â€” index-based (position) indexing

# Get a single value by position
print("\n.iloc[1, 1] â†’", df.iloc[1, 1])

# Get entire row by index position
print("\n.iloc[2] â†’\n", df.iloc[2])

# Get multiple rows and columns by position
print("\n.iloc[[0, 2], [0, 2]] â†’\n", df.iloc[[0, 2], [0, 2]])

# Slice rows (exclusive of end)
print("\n.iloc[1:4] â†’\n", df.iloc[1:4])

# Modifying values

# Change a specific value using .loc
df.loc['a', 'A'] = 99
print("\nAfter df.loc['a', 'A'] = 99 â†’\n", df)

# Set entire column to a value
df.loc[:, ['B']] = 0
print("\nAfter df.loc[:, ['B']] = 0 â†’\n", df)

# ðŸ§¹ Reset index (remove old index column)
df.reset_index(drop=True, inplace=True)
print("\nAfter reset_index(drop=True):\n", df)

Original DataFrame:
     A   B    C
a  10   5  100
b  20  15  200
c  30  25  300
d  40  35  400
e  50  45  500

.loc['b', 'B'] â†’ 15

.loc['c'] â†’
 A     30
B     25
C    300
Name: c, dtype: int64

.loc[['a', 'c'], ['A', 'C']] â†’
     A    C
a  10  100
c  30  300

.loc['b':'d'] â†’
     A   B    C
b  20  15  200
c  30  25  300
d  40  35  400

.loc[df['A'] > 25] â†’
     A   B    C
c  30  25  300
d  40  35  400
e  50  45  500

.iloc[1, 1] â†’ 15

.iloc[2] â†’
 A     30
B     25
C    300
Name: c, dtype: int64

.iloc[[0, 2], [0, 2]] â†’
     A    C
a  10  100
c  30  300

.iloc[1:4] â†’
     A   B    C
b  20  15  200
c  30  25  300
d  40  35  400

After df.loc['a', 'A'] = 99 â†’
     A   B    C
a  99   5  100
b  20  15  200
c  30  25  300
d  40  35  400
e  50  45  500

After df.loc[:, ['B']] = 0 â†’
     A  B    C
a  99  0  100
b  20  0  200
c  30  0  300
d  40  0  400
e  50  0  500

After reset_index(drop=True):
     A  B    C
0  99  0  100
1  20  0  200
2  30  0  300
3  40  0  400
4  50  0  500